@mixin d-flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin d-flex-around
  display: flex
  justify-content: space-around
  align-items: center

@mixin d-flex-between
  display: flex
  justify-content: space-between
  align-items: center
  
@mixin d-flex-start
  display: flex
  justify-content: flex-start
  align-items: center

@mixin d-flex-column-left
  display: flex
  flex-direction: column

@mixin transition
  transition: .3s ease
