@import './reset'
@import './fonts'
@import './vars'
@import './mixins'
@import './elements'
@import './header/main-header'
@import './header/catalog-header'
@import './header/catalog-page'

body
  font-family: $font-family-normal
  color: $font-color-main
  font-size: $font-size-normal
  font-weight: 500


.overflow-hidden
  overflow: hidden
  padding-right: 17px

.container-fluid
  width: 100%
  padding-left: 20px
  padding-right: 20px
  margin-left: auto
  margin-right: auto