.categories-wrapper
  margin-left: -15%
  padding-left: 15%
  margin-right: -2.5%
  padding-right: 2.5%
  border-bottom: 1px solid $lines-color

.categories

  &::before, &::after
    content: ''
    position: absolute
    width: 50px
    height: 100%
    top: 0
    z-index: 2
    background: linear-gradient(to right, rgba(255,255,255,1) 14%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: .3s linear
  
  &::before
    left: 0
  &::after
    right: 0
    background: linear-gradient(to left, rgba(255,255,255,1) 14%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  &.navSwiperIsBeginning::before
    width: 0
  &.navSwiperIsEnd::after
    width: 0

.categories-switcher
  +d-flex-start
  overflow: hidden
  // height: 84px
  width: min-content

  li
    position: relative
    width: auto
    margin: 33px 22px
    cursor: pointer
    // flex-shrink: 1

    &:hover
      color: $color-accent

    &::before
      content: '';
      position: absolute;
      bottom: -33px;
      width: 30px;
      height: 2px;
      left: 50%
      transform: translateX(-50%)
      z-index: 3;
      opacity: 0
      +transition
      background: $color-accent;

    .categories-quantity-of-dishes
      position: absolute
      top: -2px
      right: -10px
      font-size: 9px
      color: #aaa

    &.active
      color: $color-accent

      &::before
        opacity: 1
      

  .categories-swiper

@media screen and (max-width: 1356px)
  .categories-wrapper
    margin-left: -3%
    padding-left: 3%

@media screen and (max-width: 768px)
  .categories
    &::before, &::after
      display: none
    //   width: 100%
    //   height: 50px
    //   background: linear-gradient(to bottom, rgba(255,255,255,1) 14%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    // &::before
    //   top: 0
    //   left: 0
    // &::after
    //   bottom: 0
    //   right: 0
    //   background: linear-gradient(to top, rgba(255,255,255,1) 14%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    // &.navSwiperIsBeginning::after
    //   width: 100%
    //   height: 0
    // &.navSwiperIsEnd::before
    //   width: 100%
    //   height: 0

    .categories-switcher
      padding-top: 20px

      li
        margin: 0

        &.active::before
          content: none